name: flutter_flexible
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.17.6 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  dio: ^5.7.0
  # 网络请求重试  https://pub.dev/packages/dio_smart_retry
  dio_smart_retry: ^6.0.0
  provider: ^6.1.2
  flutter_screenutil: ^5.9.3
  shared_preferences: ^2.3.2 # 持久性存储
  synchronized: ^3.2.0
  ota_update: ^6.0.0
  package_info_plus: ^8.0.2 # app相关信息获取
  url_launcher: ^6.3.0
  permission_handler: ^11.3.1 # 权限
  device_info_plus: ^11.0.0
  # 调试组件  https://pub.dev/packages/logarte
  logarte: ^0.1.6
  # 路由  https://pub.dev/packages/auto_route
  auto_route: ^9.2.2
  # 依赖注入  https://pub.dev/packages/get_it
  get_it: ^8.0.0
  # 启动页  https://pub.dev/packages/flutter_native_splash
  flutter_native_splash: ^2.4.1
  # 状态管理  https://pub.dev/packages/flutter_riverpod
  flutter_riverpod: ^2.5.1
  # 状态管理  https://pub.dev/packages/hooks_riverpod
  hooks_riverpod: ^2.5.2
  # 自定义hooks  https://pub.dev/packages/flutter_hooks
  flutter_hooks: ^0.20.5
  riverpod_annotation: ^2.3.5
  # UI组件  https://pub.dev/packages/moon_design
  moon_design: ^1.0.6
  # 日志  https://pub.dev/packages/logger
  logger: ^2.4.0
  # 生成唯一标识符  https://pub.dev/packages/uuid
  uuid: ^4.5.1
  # 工具类  https://pub.dev/packages/common_utils
  common_utils: ^2.1.0
  # 多语言  https://pub.dev/packages/easy_localization
  easy_localization: ^3.0.7
  # 弹窗  https://pub.dev/packages/flutter_smart_dialog
  flutter_smart_dialog: ^4.9.8+3
  # 微信图片选择  https://pub.dev/packages/wechat_assets_picker
  wechat_assets_picker: ^9.3.2
  # 图片  https://pub.dev/packages/extended_image
  extended_image: ^8.3.1
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  auto_route_generator: ^9.0.0
  build_runner:
  custom_lint:
  riverpod_generator: ^3.0.0-dev.3
  riverpod_lint: ^2.3.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/translations/
    - assets/images/icon/
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: eye_icon
      fonts:
        - asset: assets/fonts/EyeIcon.ttf
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

targets:
  $default:
    builders:
      auto_route_generator:auto_route_generator: # this for @RoutePage
        options:
          enable_cached_builds: true
        generate_for:
          - lib/pages/**_page.dart
      auto_route_generator:auto_router_generator: # this for @AutoRouterConfig
        options:
          enable_cached_builds: true
        generate_for:
          - lib/routes/app_router.dart


flutter_assets:
  assets_path: assets/
  output_path: lib/generated/
  filename: assets.dart
  field_prefix:
